/* ---------------------------------------------------------
   CSS - Template

   Add your prefered Styles here
   ---------------------------------------------------------*/


    /* Optional: Import normalisation:
    @import 'normalize.css'; */

    body {
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    }

    h1 { 
      font-size: 1.5rem;
    }

    p {
      font-size: 0.75rem;
    }

    aside {
      padding: 1rem;
      float: left;
      background-color: #eee;
      width: 250px;
    }

    footer {
      clear: both;
    }
    
    #wrap {
      padding: 2rem;
      width: 1160px;
      margin: 0 auto; 
    }

    #diagram {
      float: left;
    }


    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
